/*------------------------------------------------------------------

    [Template layout]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]
    

    [Table of contents]

    1. Page
    2. Page header
    3. Page container
    4. Page conten
    5. Aside
    6. Sidepanel
    7. Content
    8. Important container
    9. Fixed panel

-------------------------------------------------------------------*/

/*-----
    [Page]
    
    Main page wrapper
    
    * body
        + Page / .page
            - Page header / .page__header
            - Page container / .page__container
            - Page content / .page__content
                - Aside / .page-aside
                - Sidepanel / .page-sidepanel
                - Content / .content
                - Important container / .important-container
        - Fixed panel / .fixed-panel
-----*/

.page{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    
    /*-----
        [Page container / .page__container]
    -----*/
    &__container{
        position: relative;
        display: flex;
        flex-direction: row;
        z-index: 50;
        flex: 0 0 auto;
        height: $container-height;
        background: $container-background;
        border-bottom: 1px solid $container-border;
    }
    
    
    /*-----
        [Page header / .page__header]
    -----*/
    &__header{
        position: absolute;
        top: 0px;
        z-index: 50;
        width: 100%;
        height: $header-height;
        background: $header-background;
        color: $color;
        border-bottom: 1px solid $header-border;
        @if $shadows != 0 {
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
        }                
    }
    

    /*-----
        [Header inside / .page.page--w-header]
    
        Modification for page. Header inside .page wrapper
    -----*/
    &--w-header{
        .page__content{            
            padding-top: $header-height;            
            
            &.page__content--w-aside-fixed{
                > .page-aside{
                    padding-top: $header-height;
                }
                &.page-aside-scrolled{
                    > .page-aside{
                        padding-top: 0px;                    
                    }
                }
            
            }
        }        
    }
    
    
    /*-----
        [Container inside / .page.page--w-container]
    
        Modification for page, page__container inside .page
    -----*/
    &--w-container{
        &.page--w-header{
            .page__container{
                margin-top: $header-height;
            }
            .page__content{
                &.page__content--w-aside-fixed{
                    > .page-aside{
                        padding-top: $container-height + $header-height;
                    }
                    &.page-aside-scrolled{
                        > .page-aside{
                            padding-top: 0px;                    
                        }
                    }
                }
            }
        }
        .page__content{
            padding-top: 0px;
        }        
    }
    
    
    /*-----
        [Fixed header option / .page.page--w-fixed-header]
    
        Modification for page, fixed position of page__header
    -----*/
    &--w-fixed-header{
        .page__header{
            position: fixed;
        }
        .page__content{
            &.page__content--w-aside-fixed{
                > .page-aside{
                    padding-top: $header-height;
                }
                &.page-aside-scrolled{
                    > .page-aside{
                        padding-top: $header-height;
                    }
                }
            }
        }
    }
    
        
    /*-----
        [Header inside / .page.page--w-header-inside]
    
        Modification for page, header inside .page-content wrapper
    -----*/
    &--w-header-inside{
        .page__content{
            
            > .page-sidepanel{
                > .page-sidepanel-button{
                    top: $header-height + 20;
                }
            }
            
            .page-content-container{
                position: relative;
                padding-top: $header-height;
            }
            
        }        
    }
    
            
    /*-----
        [Page content / .page__content]
    -----*/
    &__content{
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        background: $content-background;
        text-align: center;

        @if $animation != 0 {
            @include transition(padding $animation ease-in-out);
        }
        @if $shadows != 0 {
            box-shadow: 1px 0px 5px 0 rgba(0,0,0,.1);
        }
        
        
        /*-----
            [Aside / .page-aside]
        -----*/
        .page-aside{
            position: relative;
            background-color: $aside-background;
            color: $color;
            flex: 0 0 auto;
            width: $aside-width;
            border-right: 1px solid $aside-border;
            text-align: left;

            @if $animation != 0 {
                @include transition(all $animation ease-in-out);
            }
            @if $shadows != 0 {
                box-shadow: 1px 0px 3px rgba(0,0,0,0.1);
            }
            
            .page-aside-controls{
                display: none;
            }
            
            
            /*-----
                [Aside controls / .page-aside--w-controls]
            -----*/
            &--w-controls{
                position: relative;
                padding-bottom: 60px;                
                
                .page-aside-controls{
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    background: darken($aside-background,2%);
                    border-top: 1px solid $aside-border;
                    height: 60px;
                    width: 100%;
                    padding: 10px;                                        
                }
            }
            
            /*-----
                [Aside minimized state / .page-aside--minimized]
            -----*/
            &--minimized{
                width: $aside-width-minimized;
            }            
            
            
            /*-----
                [Aside hidden state / .page-aside--hidden]
            -----*/
            &--hidden{
                width: 0px;                
                border-right: 0px;
                overflow: hidden;                                
            }            

            
            @if $animation != 0 {
                &-animation-show{
                    > div{
                        animation: showChildrenContent $animationPanelSpeed ease-in-out;
                    }                
                }
            }
        }        
        
        
        /*-----
            [Fixed Aside / .page__content--w-aside-fixed]
        -----*/
        &--w-aside-fixed{
            padding-left: $aside-width;
            
            &.page-aside--minimized{
                padding-left: $aside-width-minimized;
            }
            
            &.page-aside--hidden{
                padding-left: 0px;
            }
            
            > .page-aside{
                position: fixed;
                z-index: 9;
                left: 0px;
                top: 0px;
                height: 100%;
            }                        
        }        
        
        
        /*-----
            [Sidepanel / .page-sidepanel]
        -----*/
        .page-sidepanel{
            position: relative;
            background: $sidepanel-background;
            color: $color;
            flex: 0 0 auto;
            width: $sidepanel-width;
            border-right: 1px solid $sidepanel-border;
            text-align: left;

            @if $animation != 0 {
                @include transition(width $animation ease-in-out);
            }
            @if $shadows != 0 {
                box-shadow: 1px 0px 5px 0 rgba(0,0,0,.1);
            }
            
            /*-----
                [Sidepanel content / .page-sidepanel__content]
            -----*/
            &__content{
                width: 100%;
                @include clearfix();
                
                .content{
                    float: left;
                    width: 100%;
                    padding: 20px;
                    margin-bottom: 30px;
                }
            }
            
            /*-----
                [Sidepanel button / .page-sidepanel__button]
            -----*/
            &__button{
                position: absolute;
                z-index: 998;
                width: 10px;
                height: 30px;                
                right: -10px;
                top: 20px;
                background: $sidepanel-background;
                border: 1px solid $sidepanel-border;
                border-left-color: $sidepanel-background;                 
                border-radius: 0px $border-radius $border-radius 0px;
                cursor: pointer;
                @if $animation != 0 {
                    @include transition(width 100ms linear, right 100ms linear);
                }
                @if $shadows != 0 {
                    box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.1);
                }
                                    
                div{
                    position: relative;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 3px 4px 3px 0;
                    border-color: transparent $color transparent transparent;
                    margin: 11px 0px;
                    opacity: 0.1;
                    @if $animation != 0 {
                        @include transition(all 100ms linear);
                    }                                        
                }                
                
                /*-----
                    [Sidepanel button lower position / .page-sidepanel__button--lower]
                -----*/
                &--lower{
                    top: 120px;
                }
                
                @if $animation != 0 {                
                    &:hover{
                        div{                                             
                            opacity: 1;
                        }
                    }
                }                
            }
            @if $animation != 0 {                
                &:hover{
                    > .page-sidepanel__button{
                        width: 16px;
                        right: -16px;          
                        
                        div{
                            margin: 11px 3px;
                        }
                    }
                }
            }
                        
            
            /*-----
                [Sidepanel hidden state / .page-sidepanel--hidden]
            -----*/
            &--hidden{
                width: 5px;
                
                > .page-sidepanel__content{
                    overflow: hidden;
                    display: none;
                }
                
                > .page-sidepanel__button{
                    div{                                                
                        border-width: 3px 0 3px 4px;
                        border-color: transparent transparent transparent $color;
                        opacity: 1;
                    }                                        
                }
                &:hover{
                    > .page-sidepanel__button{
                        div{                                                                    
                            margin: 11px 2px 11px 4px;
                        }
                    }
                }
            }
            @if $animation != 0 {
                &-animation-show{
                    > div:not(.page-sidepanel__button){
                        animation: showChildrenContent $animationPanelSpeed ease-in-out;
                    }
                }
            }
        }                
        
                
        /*-----
            [Content / .content]
        -----*/
        > .content{
            position: relative;
            padding-top: 20px;
            text-align: left;
            margin: 0 auto;
            /* overflow: hidden; */
            
            .container,.container-fluid{
                padding: 20px;
            }

            h1 {
                font-size: 30px;
            }
        }                                                    
        
        
        /*-----
            [Important container / .important-container]
        -----*/
        > .important-container{
            flex: 0 0 auto;
            width: $important-container-width;
            background: $base-skin-background;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            .content{
                float: left;
                width: 100%;
                padding: 20px;
            }
        }
    }
    
    .hideContainerContent{
        > *:not(.loading){
            display: none;
        }
    }
}

/*-----
    [Fixed panel / .fixed-panel]
-----*/
.fixed-panel{
    position: fixed;
    width: $fixed-panel-width;
    height: 100%;
    z-index: 1000;
    background: $base-skin-background;
    border-left: 1px solid $border-color;
    color: $base-skin-color;
    right: -$fixed-panel-width;
    top: 0px;  
    padding-top: 60px;
    @include noselect;
    @if $animation != 0 {
        @include transition(right $animation ease-in-out);
    }
    
    /*-----
        [Fixed panel header / .fixed-panel__header]
    -----*/
    &__header{
        width: 100%;
        padding: 10px 10px 9px 10px;
        position: absolute;
        left: 0px;
        top: 0px;
        background: darken($sidepanel-background,1%);
        border-bottom: 1px solid $border-color;
        @include clearfix();        
        
        .title{
            margin: 0px;
            padding: 0px;
            float: left;
            line-height: 40px;
        }
        .btn{
            float: right;
        }
    }
    
    /*-----
        [Fixed panel content / .fixed-panel__content]
    -----*/
    &__content{
        padding: 20px;
    }
    
    &.show{
        right: 0px;
    }
}


/*-----
    [Media]

    // break point
    //xs: 0,
    //sm: 576px,
    //md: 768px,
    //lg: 992px,
    //xl: 1200px
-----*/
@include media-breakpoint-down(sm) {
    .page{
        &__container{
            height: auto;
        }
        &__content{
            .page-aside{
                width: 100%;
                
                &--hidden{
                    width: 0px;
                }
                
                &:not(.page-aside--hidden){
                    & + .page-sidepanel{
                        display: none;
                    }
                }
            }
            .page-sidepanel{
                width: calc(100% - 21px);
                
                &--hidden{
                    width: 5px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .page__content{ 
        > .important-container{
            width: 100%;                        
        }
    }
}