/*------------------------------------------------------------------

    [Personal styles]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]

    We recommend you to use this file for your stylesheets.

-------------------------------------------------------------------*/

.card {
    border-radius: 5px;
    margin-bottom: 15px;
    h2 {
        color: #fff;
        font-size: 21px;
        text-align: left;
        margin-bottom: 15px;
        font-weight: bold;
        .title-icon {
            float: right;
            vertical-align: text-bottom;
            font-size: 15px;
            margin-top: 6px;
            color: #fff;
            text-decoration: none;
        }
    }
    .card-body {
        padding: 10px;
    }
    &.transparent {
        border: none;
        background: transparent;
    }
}

.card-img-top {
    height: 120px;
    object-fit: cover;
}

a.btn-outline-white {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 24px;
    padding: 0 8px;
    width: auto;
    margin: 5px 10px 3px 0;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background: #fff;
        color: #000;
        text-decoration: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 11px grey;*/
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 3px;
    border: 2px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fbe17d;
}

#__nuxt {
    ::-webkit-scrollbar-track {
        /* background: rgba(0, 0, 0, .3);
        border-radius: 0 4px 4px 0; */
    }

    ::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 8px;
        border: 3px solid #27283c;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 4px;
    }
}

.page-aside .navigation, .page-sidepanel .navigation {
    padding: 10px 10px 10px 30px;
}

.page-aside, .page-sidepanel {
    padding: 0;
    h3 {
        font-size: 30px;
        opacity: 0.4;
    }
}

#scroll_sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0) !important;
    border: 0 none !important;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0) !important;
    border: 0 none !important;
}

body::-webkit-scrollbar {
    display: none !important;
}

#fixed-panel {
    z-index: 12;
    background: #1C2032;
    border: 0 none;

    .fixed-panel__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding-top: 60px;

        > p {
            color: #fff;
        }

        > a {
            display: block;
            margin-left: 10px;
            margin-bottom: 5px;
            font-size: 15px;
            color: #fff;
        }

        h5 {
            font-size: 15px;
        }

        hr {
            border-top: 1px solid #fff !important;
            width: 100%;
            margin: 10px 0;
        }
    }

    body.show-sidebar & {
        right: 0px;
        border-left: 1px solid rgba(255, 255, 255, 0.07);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    float: left;
}

.icon-letter-circle {
    background: #3f87b8;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
}

#backdrop {
    z-index: 11;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    body.show-sidebar & {
        display: block;
    }
}

.page .content-body {
    body.show-sidebar & {
        filter: blur(5px);
    }
}

.page-heading {
    margin-bottom: 10px;
    background: none !important;
    border: 0 none !important;
}

.page-heading .breadcrumb {
    //    background: none !important;
    //    border: 0 none !important;
    //    padding: 0;
    font-size: 14px;
}

.page-heading .breadcrumb .breadcrumb-item,
.page-heading .breadcrumb .breadcrumb-item a {
    font-size: 14px;
}

.page-heading .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
}

.route, button {
    cursor: pointer;
}

*:focus, *:active, *.active, *:focus:active {
    outline: none;
}

// .swiper-container {
//     overflow: visible;
// }

.multiselect.dark-mode {
    color: #ffffff;
    input {
        background: transparent;
        border: unset;
    }
    .multiselect__tags {
        border: 1px solid #1b1c2a;
        background: #1b1c2a;
        .multiselect__tag {
            background: #fbdd6a;
            color: #1b1c2a;
            .multiselect__tag-icon,
            .multiselect__tag-icon:focus,
            .multiselect__tag-icon:hover {
                background: #fbdd6a;
                &:after {
                    color: #1b1c2a;
                }
            }
        }
    }
    .multiselect__content-wrapper {
        border: 1px solid #1b1c2a;
        background: #1b1c2a;
    }
    .multiselect__option--selected {
        background: #fbdd6a;
        &:after {
            color: #28293e;
        }
        &.multiselect__option--highlight {
            background: #dfc45e;
            color: #1b1c2a;
            cursor: pointer;
        }
    }
}
#__nuxt {
    -webkit-user-select: none;

    #content {
        -webkit-user-select: text;

        img {
            -webkit-user-select: none;
        }
    }
}

.__nuxt-error-page {
    background: none !important;
}

.fixed-panel {
    width: 350px;
    right: -350px;
    overflow-y: auto;
    min-height: 100%;
    backdrop-filter: blur(10px);
}

.preview-panel {
    a {
        margin: 5px 0;
    }
}

.developer-banner {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9d972+0,f7bf77+100 */
    background: #f9d972; /* Old browsers */
    background: linear-gradient(to right, #f9d972 0%, #f7bf77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    color: #3D3E5D;
    font-size: 14px;
    margin: 25px 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    .img {
        margin-right: 15px;
        img {
            height: 80px;
            width: auto;
        }
    }
    h3 {
        font-size: 21px;
        padding: 0;
        margin: 0 0 3px;
        color: #3D3E5D;
    }
    .btn {
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 3px;
        border: none;
        margin-right: 10px;
        &.btn-default {
            background: #3D3E5D;
            color: #fff;
            &:hover {
                background: #50527b;
            }
        }
    }
}

.dev-block {
    display: inline-block;
    float: left;
    width: auto;
    max-width: 50%;
    margin-top: 20px;
    pointer-events: none;
    margin-right: 35px;
    &.active {
        pointer-events: unset;
        opacity: 1;
    }
    h5 {
        font-weight: bold;
        padding: 0;
        margin: 0;
        i {
            margin-right: 5px;
        }
    }
    ul {
        padding: 0;
        margin: 5px 0 10px 0;
        display: inline-block;
        li {
            list-style: none;
            display: block;
            width: 100%;
            a {
                color: #fff;
                text-decoration: none;
                i {
                    color: #A2A3BE;
                    margin-right: 3px;
                    width: 18px;
                }
            }
        }
    }
}
.disable-animations {
    *:not(.snotifyToast, .lds-ellipsis div), *:not(.token__count)::before, *::before, *::after {
        transition: none !important;
        /*transform: none !important;*/
        animation: none !important;
    }
}
.fixed-panel {
    max-width: 90%;
}
