/*------------------------------------------------------------------

    [User elements]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]
    
    [Table of contents]

    1. User
    2. User group

-------------------------------------------------------------------*/


/*-----

    [User]
    
    User box with image and text iformation

    + .user                 - wrapper
        & .user--lg         - [modify] large user box
        & .user--xlg        - [modify] extra large user box
        & .user--huge       - [modify] huge user box
        & .user--bordered   - [modify] bordered image
        & .user--rounded    - [modify] rounded image
        & .user--centred    - [modify] centralized elements
        & .user--controls   - [modify] allows to use controls

        + .user__name       - name container
        + .user__button     - button container
    
    .user-group             - container for user boxes    
-----*/
.user{
    @include clearfix();
    
    > img{
        width: $line-height;
        height: $line-height;
        float: left;
        
        & + .user__name{
            padding-left: $line-height + 10;
        }
    }
    
    /*-----
        [.user__name name container]
    -----*/
    > .user__name{
        white-space: nowrap;
        
        strong{
            font-weight: 500;
        }
        
        a{
            color: $color;
            text-decoration: none;
            @if $animation != 0 {
                @include transition(all $animation ease-in-out);
            }
        
            &:hover{
                color: darken($color,5%);
            }
        }
    }
    
    /*-----
        [.user__button button container]
    -----*/
    > .user__button{
        width: $line-height;
        height: $line-height;
        float: left;
        border: 1px dashed $border-color;
        line-height: $line-height;
        text-align: center;
        color: $color;
        font-size: 10px;
        background: $base-skin-background;
        @if $animation != 0 {
            @include transition(all $animation ease-in-out);
        }
        
        &:hover{
            background: darken($base-skin-background, 2%);
            color: darken($color,5%);
        }
        
        & + .user__title{
            padding-left: $line-height + 10;
        }
    }
        
    /*-----
        [.user--lg large user box]
    -----*/
    &.user--lg{
        > img{
            width: $line-height * 2;
            height: $line-height * 2;
            
            & + .user__name{
                padding-left: $line-height * 2 + 10;
            }
        }
        
        > .user__button{
            width: $line-height * 2;
            height: $line-height * 2;
            line-height: $line-height * 2;
            font-size: 14px;
            
            & + .user__title{
                padding-top: $line-height / 2;
                padding-left: $line-height * 2 + 10;
            }
        }
    }
    
    /*-----
        [.user--xlg extra large user box]
    -----*/
    &.user--xlg{
        > img{
            width: $line-height * 3;
            height: $line-height * 3;
            
            & + .user__name{
                padding-left: $line-height * 3 + 15;
            }
        }
        
        > .user__button{
            width: $line-height * 3;
            height: $line-height * 3;
            line-height: $line-height * 3;
            font-size: 14px;
            
            & + .user__title{
                padding-top: $line-height;
                padding-left: $line-height * 3 + 10;
            }
        }
    }
    
    /*-----
        [.user--huge huge user box]
    -----*/
    &.user--huge{
        > img{
            width: $line-height * 4;
            height: $line-height * 4;
            
            & + .user__name{
                padding-left: $line-height * 4 + 15;
            }
        }
        
        > .user__button{
            width: $line-height * 4;
            height: $line-height * 4;
            line-height: $line-height * 4;
            font-size: 28px;
            
            & + .user__title{                
                padding-left: $line-height * 4 + 10;
            }
        }
    }
    
    /*-----
        [.user--bordered bordered user image]
    -----*/
    &.user--bordered{
        > img{
            box-shadow: 0px 0px 0px 2px $border-color;
        }
    }
    
    /*-----
        [.user--rounded rounded user image]
    -----*/
    &.user--rounded{
        > img{
            border-radius: 50%;
        }
        
        > .user__button{
            border-radius: 50%;
        }
    }
    
    /*-----
        [.user--centred centralized elements]
    -----*/
    &.user--centred{
       text-align: center;
       
        > img{
           float: none;
           margin-bottom: 10px;
           
            & + .user__name{
                padding-left: 0px;
            }
       }       
    }
    
    /*-----
        [.user--controls allows you to use controls]
    -----*/
    &.user--controls{                
        .user__name{
            padding-right: 30px;
            position: relative;
            
            .user__controls{
                position: absolute;
                right: 0px;
                top: 5px;
            }
        }                
    }
    
}

/*-----
    [User group]

    .user-group - container for list of user boxes
-----*/
.user-group{
    @include clearfix();
    
    .user{
        float: left;
        margin-left: -5px;
        
        &--lg{
            margin-left: -15px;
        }
        &--xlg{
            margin-left: -25px;
        }
        &--huge{
            margin-left: -45px;
        }
        
        &:first-child{
            margin-left: 0px;
        }
    }
    
    &--bordered{
        .user{
            img{
                box-shadow: 0px 0px 0px 2px $base-skin-background;
            }
        }
    }
}

/*-----
    [Table fix for user container]
-----*/
.table{
    .user--lg{
        height: 40px;
    }
}

/*-----
    [Navigation support for user box]
-----*/
.navigation{
    .user{
        &--lg{
            padding: 10px 0px 10px 10px;
        }
        &--huge{
            padding: 15px 0px;
        }
        
        &--w-lineunder{
            padding: 10px 0px 35px 10px;
            margin-bottom: 20px;
            
            .user__lineunder{
                height: 30px;
                width: 100%;
                background: #fafafa;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);                
                line-height: $line-height;
                padding: 4px 0px 4px 20px;
                position: absolute;
                left: 0px;
                top: 70px;                
                font-size: $font-size - 2;
                
                .text{
                    color: $color-secondary;
                    float: left;
                    line-height: $line-height;
                    margin: 0px;
                }
                
                .buttons{
                    position: absolute;
                    right: 15px;
                    top: 4px;
                    
                    .dropdown{
                        float: left;
                        display: none;
                    }
                    
                    .button{
                        float: left;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        font-family: "FontAwesome";
                        font-size: 14px;                        
                        color: $color-secondary;
                        text-align: center;
                        cursor: pointer;
                        margin-left: 4px; 
                        background: rgba(0,0,0,0.03);
                        border: 0px;
                        //border: 1px solid rgba(0,0,0,0.05);
                        padding: 0px;
                        outline: none;
                        @if $animation != 0 {
                            @include transition(all $animation ease-in-out);
                        }
                                                
                        &:hover{
                            background: rgba(0,0,0,0.05);
                        }
                        
                        &:first-child{
                            margin-left: 0px;
                        }
                        
                        &.button-minimize{
                            &:after{
                                content: "\f104";                            
                            }
                            
                            &.active{
                                &:after{
                                    content: "\f105";                            
                                }
                            }
                        }
                        &.button-settings{
                            font-size: 10px;
                            &:after{
                                content: "\f013";                            
                            }
                        }
              
                    }
                }
            }                        
        }
    }
    
    &.navigation--condensed{
        .user--w-lineunder{
            padding: 20px 10px 35px 10px;
            
            .user__lineunder{
                padding-left: 10px;
                
                .buttons{
                    right: 10px;
                }
            }
        }
        
    }
    
}

/*-----
    [Support for user box inside of minimized navigation]
-----*/
.page-aside--minimized,.navigation--minimized{
    .navigation{
        .user{                        
            &--lg{
                padding: 10px 5px 15px;                                
            }
            &--huge{
                padding: 10px 5px 15px;
            }
            
            &--w-lineunder{
                padding: 10px 5px 35px 5px;
                margin-bottom: 20px;
                
                .user__lineunder{
                    width: $aside-width-minimized - 1;
                    padding: 4px 10px;
                    
                    .buttons{
                        right: 0px;
                        width: 100%;
                        text-align: center;
                        
                        .dropdown{
                            float: none;
                            display: inline-block;
                            outline: none;                                                        
                        }
                        
                        .button{
                            display: inline-block;
                            float: none;
                        }
                    }
                    .text{display: none;}
                }
            }
            
            > img{
                width: 40px;
                height: 40px;
                margin-bottom: 0px;
            }
            
            > img + .user__name{
                display: none;
            }
        }
    }
}