/*------------------------------------------------------------------

    [Mixins]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]

-------------------------------------------------------------------*/

@import "../vendors/sass/gradient.scss";

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width + px $height + px;
    background-size: $width / 10 + rem $height / 10 + r4em;
  }
}

@mixin noselect{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin width-max-xl {
	@media (max-width: 1199px) {
		@content;
	}
}

@mixin width-max-lg {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin width-max-md {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin width-max-sm {
	@media (max-width: 575px) {
		@content;
	}
}



@mixin width-min-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin width-min-lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin width-min-md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin width-min-sm {
    @media (min-width: 576px) {
        @content;
    }
}


@mixin calendar {
    .form-calendar {
        background-color: #27273A !important;
        border-color: rgba(255,255,255,.2) !important;
        box-shadow: 0 0 15px rgba(1, 1, 1, .35);
        .up:hover, .up:focus {
            color: black !important;
        }
    }
    .form-calendar__text, .form-calendar__text:focus {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
        border: none !important;
        background-color: #303049 !important;
    }
}
