/*------------------------------------------------------------------

    [Layout]

    Project:        BlockHub
    Version:        v1.0.0
    Last change:    17/05/18 [Release]

-------------------------------------------------------------------*/

.page{
    .page__header{
        &.invert{
            background: transparent;
            color: $invert-color;        
            border-bottom-color: transparent;
            @if $shadows != 0 {
                box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
            }
        }        
    }    
    
    .page__container{
        &.invert{
            background: transparent;
            color: $invert-color;        
            border-bottom-color: transparent;
        }
    }
    
    .page__content{
        padding-top: 135px;
        
        &.page__content-invert{
            background: transparent;
        }
        
        .page-aside{
            position: fixed;
            top: 135px;
            left: 0;

            &.invert{
                color: $invert-color;
                @if $shadows != 0 {
                    box-shadow: 2px 0px 12px rgba(0,0,0,0.2);
                }
                                
                .page-aside-controls{
                    background: darken($invert-aside-background,2%);
                    border-top: 1px solid transparent;                        
                }                
            }
        }
        
        .page-sidepanel{
            position: fixed;
            top: 135px;
            right: 0;

            &.invert{
                color: $invert-color;
                
                > .page-sidepanel__button{
                    background: transparent;
                    border: 1px solid $invert-sidepanel-border;
                    
                    div{
                        border-color: transparent $invert-color transparent transparent;                        
                    }                                        
                }
                &.page-sidepanel--hidden{
                    > .page-sidepanel__button{
                        div{
                            border-color: transparent transparent transparent $invert-color;
                        }
                    }
                }
            }
        }
        
        .important-container{
            &.invert{
                background: transparent;
                color: $invert-color;
            }
        }
    }
}
// end basic layout invert styles